@charset "UTF-8";
/* CSS Document */

#bgForm-gral{
	width:960px;
	height:523px;
	overflow:hidden;
	margin:0 auto;
	position:absolute;
}

.bannerHabilida{
	width:46px;
	height:348px;
	position:absolute;
	/*background:url(imagenes/bannerHabilidades.png) no-repeat;*/
	border:none;
	top:-348px;
	left:10px;
	animation:bannerHa 0.7s 1;
	-webkit-animation:bannerHa 0.7s 1;
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	animation-delay:0.7s;
	-webkit-animation-delay:0.7s;
}

@keyframes bannerHa{
	0%{top:-348px;}
	100%{top:0px;}
}

@-webkit-keyframes bannerHa{
	0%{top:-348px;}
	100%{top:0px;}
}


#botonVoverSeleccionar{
	width:162px;
	height:147px;
	position:absolute;
	background:url(imagenes/boton-regresar.png) no-repeat;
	border:none;
	left:790px;
	top:-150;
	z-index:1;
	animation: botonRegresar 1s 1;
	-webkit-animation: botonRegresar 1s 1;
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	animation-delay:0.5s;
	-webkit-animation-delay:0.5s;
	
}

#botonVoverSeleccionar:hover{
	-webkit-transform:scale(1.1);
}


@keyframes botonRegresar{
	0%{left: 790px; top:-150px;}
	100%{left: 790px; top:0px;}
}

@-webkit-keyframes botonRegresar{
0%{left: 790px; top:-150px;}
	100%{left: 790px; top:0px;}
}

.campoCasedos{
	width:123px;
	height:119px;
	float:right;
	color:#033;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	margin-top:20px;
	
}

.campoCasedos input{
	width:60px;
	height:50px;
	margin-left:10px;
	font-size:25px;
	border:#8ca5a3 dashed 2px;
	
}

.campoPre{
	width:500px;
	float:left;
}

.campoPre h4{
	font-size:16px;
	line-height:16px;
	text-align:justify;
	color:#666666;
}

.campoPre ul{
	margin-top:10px;
}

.campoPre li{
	font-size:11px;
	list-style:disc;
}

.campoPrecas{
	width:640px;
	
}

.campoPrecas .checkbox-1{
	width:12px;
	height:12px;
	padding:5px;
	float:left;
	background:#FFFFFF;
	margin-top:20px;
	margin-right:5px;
}

.campoPrecas h4{
	width:220px;
	height:30px;
	padding:15px;
	float:left;
	background:#FFF;
	margin-top:5px;
	margin-right:5px;
	color:#666;
}

.campoPrecas ul{
	width:327px;
	float:left;
	background:#FFF;
	padding:10px;
	margin-top:5px;
}

.campoPrecas li{
	font-size:11px;
	list-style:disc;
}


.checkbox-1, .campoPrecas h4, .campoPrecas ul{
	border-radius:5px;
	border:#8ca5a3 dashed 1px;

}
.clear{
	clear:both;
}