@charset "UTF-8";
/* CSS Document */

#vocaCont{
	width:960px;
	height:523px;
	overflow:hidden;
	position:absolute;
	margin:0 auto;
	
}

.vocaAvatar{
	width:250px;
	margin:0 auto;
	top:-320px;
	left:-180px;
	position:relative;
	z-index:100;
}

.bannerVocacion{
	width:46px;
	height:348px;
	position:relative;
	background:url(imagenes/bannerVocacion.png) no-repeat;
	border:none;
	top:-348px;
	left:-445px;
	z-index:5;
	animation:bannerVo 0.7s 1;
	-webkit-animation:bannerVo 0.7s 1;
	-moz-animation:bannerVo 0.7s 1;
	-ms-animation:bannerVo 0.7s 1;
	-o-animation:bannerVo 0.7s 1;
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-ms-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	animation-delay:0.7s;
	-webkit-animation-delay:0.7s;
	-moz-animation-delay:0.7s;
	-ms-animation-delay:0.7s;
	-o-animation-delay:0.7s;
}

@keyframes bannerVo{
	0%{top:-348px;}
	100%{top:0px;}
}

@-webkit-keyframes bannerVo{
	0%{top:-348px;}
	100%{top:0px;}
}

@-moz-keyframes bannerVo{
	0%{top:-348px;}
	100%{top:0px;}
}

@-ms-keyframes bannerVo{
	0%{top:-348px;}
	100%{top:0px;}
}

@-o-keyframes bannerVo{
	0%{top:-348px;}
	100%{top:0px;}
}

#botonVoverSeleccionar{
	width:112px;
	height:28px;
	top:-275px;
	left:-10px;
	background:none;
	padding:0;
	border:none;
	z-index:3000;
	position:relative;
}

#botonVoverSeleccionar:hover{
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
}

.bg{
	width:859px;
	height:129px;
	background:url(imagenes/base-vocacion-avatar.png);
	position:relative;
	top:-470px;
}

.resultado{
	width:290px;
	height:290px;
	position:relative;
	top:-860px;
	left:100px;
	background:url(imagenes/bgResultado.png) no-repeat;
	padding:10px;
}


h3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	margin-right:5px;
}


