@charset "UTF-8";
/* CSS Document */


#aviso-1{
	width:266px;
	height:438px;
	background:url(imagenes/objeto-1.png) no-repeat;
	position:absolute;
	left:500px;
	top:-500px;
	animation-timing-function:ease-out;
	-webkit-animation-timing-function:ease-out;
	-moz-animation-timing-function:ease-out;
	-o-animation-timing-function:ease-out;
	animation: avisoAn 4s 1;
	-moz-animation: avisoAn 4s 1;
	-O-animation: avisoAn 4s 1;
	-webkit-animation: avisoAn 4s 1;
	/*animation-fill-mode:forwards;*/
	/*-webkit-animation-fill-mode:backwards;*/
	/*animation-delay:2s;*/
	/*-webkit-animation-delay:1s;*/
	
}

@keyframes avisoAn{
	0%{ left:500px; top:-500px;}
	20%{left:500px; top:0px;}
	80%{left:500px; top:0px;}
	100%{left:500px; top:-500px;}
}

@-webkit-keyframes avisoAn{
	0%{ left:500px; top:-500px;}
	20%{left:500px; top:0px;}
	80%{left:500px; top:0px;}
	100%{ left:500px; top:-500px;}
}


#objeto-1{
	width:416px;
	height:421px;
	background:url(imagenes/objeto-2.png) no-repeat;
	position:absolute;
	left:420px;
	top:-500px;
	animation: anima_2 1s 1;
	-webkit-animation: anima_2 1s 1;
	animation-delay:3s;
	-webkit-animation-delay:3s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	z-index:1;
	
}

@keyframes anima_2{
	0%{ left:420px; top:-500px;}
	100%{left:420px; top:80px;}
}

@-webkit-keyframes anima_2{
	0%{ left:420px; top:-500px;}
	100%{left:420px; top:80px;}
}

#objeto-3{
	width:476px;
	height:163px;
	background:url(imagenes/objeto-3.png) no-repeat;
	position:absolute;
	left:390px;
	top:1500px;
	animation: anima_3 0.5s 1;
	-webkit-animation: anima_3 0.5s 1;
	animation-delay:3.3s;
	-webkit-animation-delay:3.3s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	z-index:2;
	
}

@keyframes anima_3{
	0%{ left:390px; top:1500px;}
	100%{left:390px; top:320px;}
}

@-webkit-keyframes anima_3{
	0%{ left:390px; top:1500px;}
	100%{left:390px; top:320px;}
}


.boton-1{
	width:247px;
	height:211px;
	background:url(imagenes/boton-1.png) no-repeat;
	position:absolute;
	left:500px;
	top:450px;
	opacity:0;
	animation: anima_4 1.5s 1;
	-webkit-animation: anima_4 1.5s 1;
	animation-delay:4s;
	-webkit-animation-delay:4s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	
}

@keyframes anima_4{
	0%{ opacity:1;
	transform: perspective( 400px ) rotateX(-45deg);
	transform:scale(0);
	}
	100%{ opacity:1;
	transform: perspective( 600px ) rotateX(0deg); 
	transform:scale(1);
    }
}

@-webkit-keyframes anima_4{
	0%{ opacity:1;
	    -webkit-transform:rotateX(-90deg) scale(0.9);
	    top:365px; 
	}
	
	35%{ opacity:1;
	     -webkit-transform:rotateX(0deg) scale(1);
	     top:425px;
	}
	
	70%{ opacity:1;
	     -webkit-transform:rotateX(15deg) scale(1);
	     top:415px;
	}
	
	100%{ opacity:1;
	-webkit-transform:rotateX(0deg) scale(1);
	top:425px; 
    }

}


/* Elemento al que asociamos la animación */
.boton-1:hover {	
	background:url(imagenes/boton-1a.png) no-repeat;
}

